<!DOCTYPE html>
<html>
<head>
  <title>Add Expense</title>
</head>
<body>

  <h2>Fill the form</h2>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

  {% if added %}
    <p style="color: rgb(17, 224, 58);">{{added}}</p>
  {% endif %}

  <form method="POST" action="/submit">

    <label>Date(DD/MM/YYYY)</label><br>
    <input type="date" name="date"><br><br>

    <label>Amount</label><br>
    <input type="number" name="amount" min="0" step="0.01" placeholder="0.00"><br><br>

    <label>Category</label><br>
    <input type="text" name="category"><br><br>

    <label>Note</label><br>
    <input type="text" name="note"><br><br>

    <button type="submit">Submit</button>
    <button type="submit" name="action" value="home">Return to home</button>
  </form>

</body>
</html>